p {
	font-style: italic;
	font-weight: bold;
	font-family: Helvetica, Times, serif;
	font-size: 36px;
	color: blue;
	background: yellow;
}

h2.dosholamundo {
	color: red;
}

Holamundo {
	color: brown;
}